openapi: 3.0.3
info:
  title: AutoRestTest API
  version: 1.0.0
  description: API for AutoRestTest - Automated REST API Testing using AI Agent.
servers:
  - url: https://art.dvad.my.id
    description: Production Server
  - url: http://localhost:3000
    description: Local Development Server
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Clerk Session Token or User API Key
    InternalKey:
      type: http
      scheme: bearer
      description: Internal API Key for system-to-system communication
    ClerkWebhookAuth:
      type: apiKey
      in: header
      name: svix-signature
      description: Clerk Webhook Signature (requires svix-id and svix-timestamp as well)

  schemas:
    Config:
      type: object
      properties:
        spec_file_content:
          type: string
          description: Content of the OpenAPI specification file (JSON or YAML)
        api_url_override:
          type: string
        llm_engine:
          type: string
        llm_engine_temperature:
          type: number
        use_cached_graph:
          type: boolean
        use_cached_q_tables:
          type: boolean
        rl_agent_learning_rate:
          type: number
        rl_agent_discount_factor:
          type: number
        rl_agent_max_exploration:
          type: number
        time_duration_seconds:
          type: number
        mutation_rate:
          type: number
        user_id:
          type: string
      required:
        - spec_file_content

    CISetupConfig:
      allOf:
        - $ref: '#/components/schemas/Config'
        - type: object
          properties:
            repository:
              type: string
              description: "GitHub repository in format 'owner/repo'"
            specPath:
              type: string
              description: Path to the spec file in the repository
            apiKeyName:
              type: string
              description: Name of the GitHub secret holding the API Key
            spec_file_content:
              type: string
              nullable: true
          required:
            - repository
            - specPath
            - apiKeyName

    JobInput:
      type: object
      properties:
        spec:
          type: string
          description: "OpenAPI Specification content"
        config:
          $ref: '#/components/schemas/Config'
      required:
        - spec
        - config

    ProgressUpdateInput:
      type: object
      properties:
        stage:
          type: string
          description: Current operation/stage name
        percentage:
          type: number
          description: Progress percentage (0-100)
        details:
          type: string
          description: Status message or details

    JobSummary:
      type: object
      properties:
        title:
          type: string
          nullable: true
        status_code_distribution:
          type: object
          nullable: true
        total_requests_sent:
          type: number
          nullable: true
        duration:
          type: string
          nullable: true
        number_of_unique_server_errors:
          type: number
          nullable: true
        number_of_successfully_processed_operations:
          type: number
          nullable: true
        number_of_total_operations:
          type: number
          nullable: true
        percentage_of_successfully_processed_operations:
          type: string
          nullable: true
        operations_with_server_errors:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/ErrorDetail'
          nullable: true

    ErrorDetail:
      type: object
      properties:
        parameters:
          type: object
          nullable: true
        body:
          type: object
          nullable: true
        operation_path:
          type: string

    RawFileUrls:
      type: object
      properties:
        operation_status_codes:
          type: string
          nullable: true
        server_errors:
          type: string
          nullable: true
        successful_bodies:
          type: string
          nullable: true
        successful_parameters:
          type: string
          nullable: true
        successful_responses:
          type: string
          nullable: true
        successful_primitives:
          type: string
          nullable: true
        q_tables:
          type: string
          nullable: true
      additionalProperties:
        type: string
      nullable: true

    Job:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        status:
          type: string
          enum: [queued, running, completed, failed, cancelled]
        statusMessage:
          type: string
          nullable: true
        progressPercentage:
          type: number
          nullable: true
        currentOperation:
          type: string
          nullable: true
        summary:
          $ref: '#/components/schemas/JobSummary'
        config:
          $ref: '#/components/schemas/Config'
        rawFileUrls:
          $ref: '#/components/schemas/RawFileUrls'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - userId
        - status
        - createdAt
        - updatedAt

paths:
  /api/v1/jobs:
    get:
      summary: List all jobs
      description: Retrieve a list of jobs for the authenticated user.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: A list of jobs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Job'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error

    post:
      summary: Create a new job
      description: Create and queue a new AutoRestTest job.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobInput'
      responses:
        '202':
          description: Job created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobId:
                    type: string
        '400':
          description: Invalid input
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error

  /api/v1/jobs/{job_id}:
    get:
      summary: Get job details
      description: Retrieve details for a specific job.
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: job_id
          schema:
            type: string
          required: true
          description: The ID of the job
      responses:
        '200':
          description: Job details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          description: Unauthorized
        '404':
          description: Job not found
        '500':
          description: Internal Server Error

    delete:
      summary: Delete a job
      description: Delete a specific job and its associated data.
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: job_id
          schema:
            type: string
          required: true
          description: The ID of the job
      responses:
        '200':
          description: Job deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized
        '404':
          description: Job not found
        '500':
          description: Internal Server Error

  /api/v1/jobs/{job_id}/cancel:
    post:
      summary: Cancel a job
      description: Cancel a running job.
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: job_id
          schema:
            type: string
          required: true
          description: The ID of the job
      responses:
        '200':
          description: Cancellation request sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized
        '404':
          description: Job not found or not active
        '500':
          description: Internal Server Error

  /api/v1/jobs/{job_id}/replay:
    post:
      summary: Replay a job
      description: Replay a previously run job.
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: job_id
          schema:
            type: string
          required: true
          description: The ID of the job
      responses:
        '200':
          description: Replay request sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  jobId:
                    type: string
        '401':
          description: Unauthorized
        '404':
          description: Job not found or no active run
        '500':
          description: Internal Server Error

  /api/v1/jobs/{job_id}/progress:
    patch:
      summary: Update job progress
      description: Internal endpoint to update job status and progress.
      security:
        - InternalKey: []
      parameters:
        - in: path
          name: job_id
          schema:
            type: string
          required: true
          description: The ID of the job
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProgressUpdateInput'
      responses:
        '200':
          description: Progress updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '400':
          description: Invalid request body
        '401':
          description: Unauthorized
        '404':
          description: Job not found
        '500':
          description: Internal Server Error

  /api/v1/ci-setup:
    post:
      summary: Setup CI Workflow
      description: Configure a GitHub Actions workflow for AutoRestTest in a repository.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CISetupConfig'
      responses:
        '200':
          description: Workflow created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '400':
          description: Invalid input or GitHub token missing
        '401':
          description: Unauthorized
        '404':
          description: Repository not found
        '500':
          description: Internal Server Error

  /api/v1/user/api-key:
    get:
      summary: Get User API Key
      description: Retrieve or generate a new API key for the authenticated user.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: API Key retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: string
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error

  /api/webhooks/clerk:
    post:
      summary: Clerk Webhook
      description: Handle user events from Clerk (e.g., user created, updated).
      security:
        - ClerkWebhookAuth: []
      responses:
        '200':
          description: Event handled successfully
        '400':
          description: Invalid signature or missing headers
        '500':
          description: Internal Server Error
